body {
    font-family: Arial, sans-serif;
    background-color: #acd8a0;
    background-image: image(new folder/);
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label, .form-group input {
    display: block;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button {
    background-color: #2a5e95;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    
}

.register-button{
    background-color: #2a5e95;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;

}